*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: white;
}

.app{
    background: rgb(74, 230, 113);
    width: 90%;
    max-width: 900px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 22px;
    color: black;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    
}

.calc{
    padding: 20px 0;
}

.calc h2{
    font-size: 22px;
    padding-bottom: 10px;
}

.btn{
    background-color: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid#222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    border: 1px solid black;
}

.btn:hover{
    background-color: rgb(204, 204, 204);
    color: black;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#next-btn {
    background-color: white;
    color: black;
    font-weight: 500;
    width: 200px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px; 
    border: 1px solid black;
    transition: background-color 0.3s ease;
}

#prev-btn {
    background-color: white;
    color: black;
    font-weight: 500;
    width: 200px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    border: 1px solid black;
    transition: background-color 0.3s ease;
}

#next-btn:hover,
#prev-btn:hover,
#restart-quiz:hover,
.contact-section button:hover {
    background-color: #e0e0e0; 
}


.btn.active{
    background-color: #c5c4c4; /* světle šedá */
    
}

.custom-select{
    position: relative;
    background-color: white;
    width: 100%;
    border-radius: 4px;
    font: 400 22px 'Poppins', sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: black;
    border: 1px solid black;
    padding-left: 5px; 
    top: 5px
}

.custom-select::-ms-expand{
    display: none;
}

.custom-select:focus{
    outline: none;
    box-shadow: 0 0 10 -1px black;
}

.select-box{
    position: relative;
}

.select-box i{
    font-weight: 900;
    font-size: 18px;
    color: black;
    position: absolute;
    top: -88px; 
    right: 10px;
    transform: translateY(0); 
    pointer-events: none;
    visibility: visible; 
    margin-left: 0;
}

.custom-select-box select:focus+i{
    color: black;
}

.select-box select {
    visibility: visible; 
}

.select-box i {
    visibility: visible; 
}

.result-box {
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color:  rgb(74, 230, 113);
    text-align: center;
  }
  
  .result-box h2 {
    margin-bottom: 10px;
  }
  
  #result-regulation {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
  }
  
  #restart-quiz {
    padding: 12px 20px;
    font-size: 16px;
    width: 200px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  body {
    background-color: #fff;
    margin: 0;
    padding: 40px;
}

.section {
    max-width: 800px;
    margin: 0 auto 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}



.contact-section {
    margin-top: 50px;
    width: 90%;
    max-width: 900px;
    background-color: rgb(74, 230, 113)
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    border: 1px solid black;
}

.contact-section button {
    background-color: white;
    color: black;
    font-weight: 500;
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    transition: background-color 0.3s ease;
}



.contact-section .email-info-top {
    margin-top: 10px; 
    margin-bottom: 20px; 
    font-size: 0.9em;
    color: black;

}


.article-section {
    margin-top: 50px;
    width: 90%;
    max-width: 900px;
    background-color: rgb(74, 230, 113); 
    color: black; 
}

.article-section p {
    margin-bottom: 15px;
    line-height: 1.6;
}
  
.image-container {
    text-align: center; 
    margin-bottom: 20px; 
}
  
  .centered-image {
    max-width: 100%; 
    height: auto; 
}
.image-container:first-of-type .centered-image {
    margin-left: -4px; /* Posune obrázek o 3 pixely doleva */
  }
  
  


