---
import '../styles/styles.css';
title: "Kybernetický Dotazník"
description: "Zjistěte, zda vaše organizace splňuje požadavky NIS2 zákona."
---

<html lang="cs">
<head>
  <meta charset="UTF-8">
  <title>
    Kalkulacka
  </title>
</head>
<body>
  <div class="app">
  
  <h1>Kalkulacka</h1>
  <div class="calc">
    <h2 id="question">Otazka c.1</h2>
    <div id="answer-buttons">
      <button class="btn">Answer 1</button>
      <button class="btn">Answer 2</button>
    </div>
    <div class="button-container">
    <button id="prev-btn">Předchozí</button>
    <button id="next-btn">Dalsi</button>
    </div>
  </div>
  <script src="/script.js" is:inline></script>
</body>
</html>
